{{#unless didInitialUpload}}
  <div class="container">
    <div class="my-5 text-center">
      <h1 class="apt-title">Aperture</h1>
      <hr class="w-50">
      <p>Compress and format your images for the web.</p>
    </div>
    <div class="apt-dropzone-init apt-dropzone-empty m-5">
      {{#file-dropzone class="h-100" name="images" as |dropzone queue|}}
        <div class="row no-gutters align-items-center h-100">
          <div class="col text-center">
            <p class="mb-0 p-2">
              {{#if dropzone.supported}}
                Drag and drop images onto this area or
              {{/if}}
              {{#file-upload class="mb-0" name="images" accept="image/*" multiple=true onfileadd=(action 'initialUpload')}}
                <a tabindex=0>click here to add an image</a>
              {{/file-upload}}
            </p>
          </div>
        </div>
      {{/file-dropzone}}
    </div>
  </div>
  {{else}}
    {{apt-nav class="mb-3"}}
    <div class="container mb-3">
      <div class="row no-gutters">
        {{#if uploading}}
          <div class="col-12">
            <div class="card p-4">
              {{apt-download continueWorking=(action 'continueWorking') startOver=(action 'startOver')}}
            </div>
          </div>
        {{else}}
          <div class="col-12 col-lg-4 py-2 py-lg-0 pr-0 pr-lg-2 order-2 order-lg-1">
            <div class="row no-gutters h-100">
              <div class="col-12 card p-4 mb-2">
                {{apt-watermarking}}
              </div>
              <div class="col-12 card p-4">
                {{apt-resolutions}}
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-8 card p-4 order-1 order-lg-2">
            {{#if showImageOverride}}
              {{apt-image-override image=selectedImage backToUpload=(action 'backToUpload')}}
            {{else}}
              {{apt-images imageSelected=(action 'imageSelected') uploadingImages=(action 'uploadingImages')}}
            {{/if}}
          </div>
        {{/if}}
      </div>
    </div>
{{/unless}}